* {
 	margin: 0;
 	padding: 0;
 }

 body {
 	margin: 0;
 	height: calc(100vh - 8em);
 	font-family: "Muli", sans-serif;
 	background-color: #f9f9f9;
 }

 #s1 {
 	display: flex;
 	flex-direction: column;
    justify-content: center;
 	width: 100%;
 	height: 107vh;
 	background: rgba(9, 4, 50, 1);
 	background-size: 100%;
 	background-repeat: no-repeat;
 }

 header {
 	display: flex;
 	flex-direction: column;
 	width: 100%;
 	position: fixed;
 	z-index: 10;
    top: 0;
 }

 #logo_div {
 	display: flex;
 	align-items: center;
 	width: 100%;
 	height: 100px;
 	background: rgba(9, 4, 50, 0.7);
 }

 #logo {
 	width: 200px;
 	height: 100px;
 	margin-left: 15px;
 	background: url('visual/logotype-removebg-preview.png');
 	background-repeat: no-repeat;
 	background-size: 100%;
 	background-position: center;
 	animation-name: logo_anim;
 	animation-duration: 1.5s;
 }

 @keyframes logo_anim {
 	from {
 		transform: translateX(-200px);
 	}
 	to {
 		transform: translateX(0);
 	}
 }

 #slogan {
 	font-family: 'Raleway', sans-serif;
 	font-size: 15px;
 	color: white;
 	margin-left: 35px;
 }

 #nav_bar {
 	width: 100%;
 	height: 45px;
 	background: rgba(35, 23, 100, 0.7);
 }

 #menu__toggle {
 	opacity: 0;
 }

 #menu__toggle:checked + .menu__btn > span {
 	transform: rotate(45deg);
 }

 #menu__toggle:checked + .menu__btn > span::before {
 	top: 0;
 	transform: rotate(0deg);
 }

 #menu__toggle:checked + .menu__btn > span::after {
 	top: 0;
 	transform: rotate(90deg);
 }

 #menu__toggle:checked ~ .menu__box {
 	left: 0 !important;
 }

 .menu__btn {
 	position: fixed;
 	top: 120px;
 	left: 20px;
 	width: 26px;
 	height: 26px;
 	cursor: pointer;
 	z-index: 7;
 }

 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
 	display: block;
 	position: absolute;
 	width: 100%;
 	height: 2px;
 	background-color: white;
 	transition-duration: .25s;
 }

 .menu__btn > span::before {
 	content: '';
 	top: -8px;
 }

 .menu__btn > span::after {
 	content: '';
 	top: 8px;
 }

 .menu__box {
 	display: block;
 	position: fixed;
 	top: 0px;
 	left: -100%;
 	width: 300px;
 	height: 100%;
 	margin: 0;
 	padding: 80px 0;
 	z-index: 5;
 	list-style: none;
 	background-color: rgba(125, 21, 40, 0.9);
 	box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
 	transition-duration: .25s;
 }

 #first_a {
 	margin-top: 75px;
 }

 .menu__item {
 	display: block;
 	padding: 12px 24px;
 	color: white;
 	font-family: 'Raleway', sans-serif;
 	font-size: 20px;
 	font-weight: 600;
 	text-decoration: none;
 	transition-duration: .25s;
 }

 .menu__item:hover {
 	background-color: #CFD8DC;
 	color: black;
 }

 

 #s5 {
 	width: 100%;
 	height: 100vh;
 	background: url('visual/background.jpg');
 	background-size: 100%;
 	background-repeat: no-repeat;
 }

 footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background: rgba(9, 4, 50, 0.7);
 }

 #footer_div1{
    display: flex;
    margin-top: 170px;
 }

 #footer_div1_1 {
    margin-left: 150px;
 }

 #footer_div1_1 ul li {
    list-style: none;
    margin-bottom: 5px;
 }

 #footer_div1_1 ul li a {
    text-decoration: none;
    color: white;
 }

 #footer_div1_1 ul li a:hover{
    text-decoration: underline;
    color: rgba(125, 21, 40, 0.9);
 }

 #footer_div1_2 {
    margin-left: 500px;
 }

 #logo_footer {
    width: 200px;
    height: 100px;
    margin-bottom: 17px;
    background-image: url("IT.png");
    background-repeat: no-repeat;
    background-size: 100%;
 }

 .h2div {
    display: flex;
    width: 327px;
    border-bottom: 1.7px solid white;
    margin-bottom: 17px;
 }

 #h2_1 {
    color: white;
    margin-bottom: 5px;
 }

 #h2_2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 1px;
 }

 #inputdiv {
    display: flex;
 }

 .input {
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: #e8e8e8;
    font-size: medium;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    max-width: 200px;
    margin-right: 17px;
 }

 .input:focus {
    outline-color: white;
    place-content: "Enter your message!";
 }

 footer button {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background: white;
    color: rgba(9, 4, 50, 1);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
 }

 @keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
 }

 footer button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
 }

 footer button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
 }

 footer button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
 }

 footer button:hover svg {
    transform: translateX(2.5em) rotate(45deg) scale(1.1);
 }

 footer button:hover span {
    transform: translateX(7em);
 }

 footer button:active {
    transform: scale(0.95);
 }

 #footer_div2 {
    display: flex;
    justify-content: center;
    width: 90%;
    border-top: 3px solid white;
    margin-top: 257px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    padding-top: 17px;
 }


 @media (max-width: 470px) {
    #s1 {
        height: 177vh;
        background-size: 290%;
        background-position: center;
    }

    .menu__btn {
        top: 121px;
    }

    #s5 {
        background-size: 457%;
        background-position: center;
    }

        #s1_head {
    margin-top: 231px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    letter-spacing: 5px;
    color: white;
 }

  #frontend-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 37px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
 }

  #frontend_img {
    width: 97px;
    height: 97px;
    margin-left: 37px;
    background: url('visual/frontend.png');
    background-size: 100%;
    background-repeat: no-repeat;
 }


 #frontend_text {
    width: 77%;
    height: 77%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
    font-family: 'Raleway', sans-serif;
    color: white;
 }

 .border {
    width: 87%;
    border-bottom: 3px solid white;
    margin-right: auto;
    margin-left: auto;
 }

  #s2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background: rgba(9, 4, 50, 1);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
 }

 #backend-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 37px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
 }

  #backend_img {
    width: 97px;
    height: 97px;
    margin-left: 37px;
    background: url('visual/backend.png');
    background-size: 100%;
    background-repeat: no-repeat;
 }


 #backend_text {
    width: 77%;
    height: 77%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
    font-family: 'Raleway', sans-serif;
    color: white;
 }

  #s3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 177vh;
    background: rgba(9, 4, 50, 1);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
 }

 #design-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 37px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 45px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    color: white;
 }

  #design_img {
    width: 157px;
    height: 157px;
    margin-left: 37px;
    background: url('visual/design.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
 }


 #design_text {
    width: 77%;
    height: 77%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 37px;
    font-family: 'Raleway', sans-serif;
    color: white;
 }

 #s4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 37vh;
    background: rgba(9, 4, 50, 1);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
 }

 #s4 h1 {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    font-size: 37px;
    letter-spacing: 5px;
    color: white;
 }

 #s4_order {
    display: flex;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
 }
 .cssbuttons-io-button {
  margin-left: 37px;
  background-color: rgba(125, 21, 40, 1);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: rgba(9, 4, 50, 1);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}


    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        font-family: 'Raleway', sans-serif;
        background: rgba(9, 4, 50, 0.7);
    }

    #footer_div1{
        display: flex;
        flex-direction: column;
        margin-top: 77px;
    }

    #footer_div1_1 {
        margin-left: 37px;
    }

    #footer_div1_1 ul li {
        list-style: none;
        margin-bottom: 5px;
    }

    #footer_div1_1 ul li a {
        text-decoration: none;
        color: white;
    }

    #footer_div1_1 ul li a:hover{
        text-decoration: underline;
        color: rgba(125, 21, 40, 0.9);
    }

    #ua_logo {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-image: url("Flag_of_Ukraine.svg.webp");
        background-repeat: no-repeat;
        background-size: 150%;
        background-position: center;
    }

    #footer_div1_2 {
        margin-top: 107px;
        margin-left: 17px;
    }

    .h2div {
        display: flex;
        width: 327px;
        border-bottom: 1.7px solid white;
        margin-bottom: 17px;
    }

    #h2_1 {
        color: white;
        margin-bottom: 5px;
    }

    #h2_2 {
        color: white;
        margin-bottom: 15px;
        padding-bottom: 1px;
    }

    #inputdiv {
        display: flex;
        margin-left: 0;
    }

    .input {
        border: none;
        border-radius: 15px;
        padding: 15px;
        background-color: #e8e8e8;
        font-size: medium;
        font-family: 'Nunito', sans-serif;
        font-weight: bold;
        width: 177px;
        margin-right: 7px;
    }

    .input:focus {
        outline-color: white;
        place-content: "Enter your message!";
    }

    footer button {
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        background: white;
        color: rgba(9, 4, 50, 1);
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
    }

    @keyframes fly-1 {
        from {
            transform: translateY(0.1em);
        }

        to {
            transform: translateY(-0.1em);
        }
    }

    footer button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }

    footer button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    footer button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    footer button:hover svg {
        transform: translateX(2.5em) rotate(45deg) scale(1.1);
    }

    footer button:hover span {
        transform: translateX(7em);
    }

    footer button:active {
        transform: scale(0.95);
    }

    #footer_div2 {
        display: flex;
        justify-content: center;
        width: 90%;
        border-top: 3px solid white;
        margin-top: 127px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        padding-top: 17px;
    }



 }

 @media (max-width: 450px) {
 	#s1 {
 		background-size: 350%;
 		background-position: center;
 	}

 	.menu__btn {
 		top: 121px;
 	}

 	#landing {
 		display: flex;
 		width: 350px;
 		height: 450px;
 	}

 	#slogan {
 		margin-left: 15px;
 	}

    #s1_head {
    margin-top: 227px;
    font-size: 27px;
 }

  #frontend-head {
    font-size: 15px;
 }

  #s2 {
    height: 157vh;
 }

 #backend-head {
    font-size: 15px;
 }

  #design_img {
    width: 97px;
    height: 97px;
 }

  #s3 {
    height: 79vh;
 }

 #design-head {
    font-size: 15px;
 }

 #s4 {
    height: 37vh;
 }

 #s4_order h1 {
    margin-right: auto;
    margin-left: auto;
    font-size: 17px;
}

 .cssbuttons-io-button {
    margin-right: auto;
    margin-left: auto;
}

 	
 }
